.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #013914;
  color: white;
  transition: 0.5s all ease;
  top: 0;
  position: sticky;
  z-index: 999;

  &.active {
    background-color: white;
    color: black;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    padding: 20px 0px;
    .logo {
      font-size: 34px;
      font-weight: bold;
      .text {
      }
      .dot {
        color: #1dbf73;
      }
    }
    .links {
      display: flex;
      align-items: center;
      gap: 24px;
      font-weight: 500;

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        .options {
          position: absolute;
          top: 50px;
          right: 0;
          padding: 20px;
          background-color: white;
          border-radius: 10px;
          border: 1px solid lightcyan;
          display: flex;
          flex-direction: column;
          gap: 10px;
          color: gray;
          width: 200px;
        }
      }

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
      }
      button {
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid white;
        cursor: pointer;
        background-color: transparent;
      }
    }
  }
  hr {
    width: 100%;
    height: 0;
    border: 0.5px solid white;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    padding: 10px 0px;
    font-weight: 300;
    color: gray;
  }
}
